   <% layout('layout') -%>

  <h1>DropBox Analytics</h1>
    <p>Interested in Dropbox analytics? Analytics could take a <strong>few minutes</strong> depending on network speed and number of files to process. 
    <br/><br/>
    Ready? <a href="all">Get Started</a>
    </p>
    
           